@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
.no-padding {
  padding: 0 !important; }

.left {
  float: left; }

.right {
  float: right; }

.center {
  text-align: center; }

.tight {
  padding: 0 !important;
  margin: 0 !important; }

input, textarea {
  border-bottom: solid 1px #fff;
  color: #fff; }

h1, h2, h3, h4, h5, h6, a, p, span, label {
  font-family: 'Open Sans', sans-serif !important;
  color: #fff; }

@media (min-width: 1200px) {
  .rod-5 {
    width: 20% !important;
    padding: 1%;
    float: left !important; } }

body {
  background: url("../static/img/main-bk.jpg");
  height: 1200px;
  max-height: 1200px;
  width: 100%;
  background-size: cover;
  overflow: scroll; }

/****************************/
/* MAIN HEADER */
/****************************/
#header {
  background-color: rgba(112, 100, 93, 0.6);
  height: 70px;
  max-height: 70px; }

#header .row {
  max-height: 70px;
  margin-bottom: 0; }

#logo h1 {
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 30px; }

/****************************/
/* ADMIN LAYOUT */
/****************************/
#adminWrapper {
  padding: 0;
  margin: 0; }

#adminSidebar {
  background-color: rgba(112, 100, 93, 0.6);
  height: 1200px;
  max-height: 1200px;
  margin-top: -4%; }

.list-admin-sidebar li {
  padding: 10px;
  border-bottom: solid 2px rgba(255, 255, 255, 0.4); }
  .list-admin-sidebar li a {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding: 0 10px; }

/* ADD PRODUCT */
.file-field span {
  font-size: 18px;
  line-height: 14rem; }
.file-field .btn {
  height: 14rem; }

.input-field label {
  color: #fff;
  font-size: 20px; }

#addVariationOptionsWrapper {
  display: none; }

/*******************************/
/* USER SIDEBAR */
/******************************/
#userSidebar {
  background-color: rgba(112, 100, 93, 0.6);
  height: 1200px;
  max-height: 1200px;
  margin-top: -4%; }

#cssmenu ul li {
  padding: 10px; }
  #cssmenu ul li a {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px; }

/* SUBMENU */
#cssmenu ul ul {
  display: none; }

/***************************************/
/* USER */
/***************************************/
.page-title {
  font-size: 25px;
  color: #fff; }

.page-subtitle {
  font-size: 20px;
  color: #fff; }

/****************/
/* Products */
/****************/
#productsBar {
  background: rgba(112, 100, 93, 0.6);
  height: 50px; }

.product-display-image {
  background-color: rgba(112, 100, 93, 0.6);
  height: 263px;
  max-width: 100%; }
  .product-display-image img {
    max-width: 100%;
    height: 263px; }

.product-display-wrapper {
  padding: 5px; }

.product-display-info {
  background-color: rgba(112, 100, 93, 0.6);
  margin-top: 1%; }

.single-product-add-product, .single-product-title, .single-product-details {
  background: rgba(112, 100, 93, 0.6); }

.single-product-details {
  min-height: 350px;
  padding: 1px 10px; }


/*# sourceMappingURL=app.css.map */